html,
body,
header,
footer,
nav
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
footer, header {
	display: block;
}

ul{
	list-style: none;
	
}
/* ------------------------------Header-----------------------------------------*/
header{
	overflow: hidden;
	background-color:#444444;
	height: 50px;

}
.container{
	width: 1170px;
	margin: 0 auto;
}
.logo{
	background-color:#ff8000;
	width: 140px;
	height: 35px;
	margin-top: 5px;
	float: left;
}

.nav{
	float:right;
	margin:-5px;
}

.nav li{
	float: left;
	width: 250px;
	text-align:center;
}

.nav a{
	font-size: 18px;
	color: #aaaaaa;
	text-decoration: none;
}
.nav a:hover{
	text-decoration: underline;
}

/* ----------------------Gallery------------------------------------------------------*/
.gallery{
	background-color: #71c4ea;
	height:485px;
}
/* -----------------------------How it works------------------------------------------*/
.content{
	width: 1170px;
	margin: 0 auto;
}
.content h1{
	color: #444444;
	font-size: 36px;
	text-align: center;
	margin-top: 64px;
	margin-bottom: 70px;
}

.services{
	margin:0 auto;
	float: right;

}

.circle{
	background-color: #efefef;
	height: 140px;
	width: 140px;
	border-radius: 80px;
	margin:0 auto;
}

.services li{
	float: left;
	width: 270px;
	margin: 0 auto;
	text-align:center;
}

.services li p{
	color: #888888;
	font-size: 18px;
	text-align:center;
	width:120px;
	margin: 0 auto;  
}
/* ----------------------Footer------------------------------------------------------*/
footer{
	overflow: hidden;
	width:100%;
	height: 100%;
	background:#ececec;
}

.nav-bottom{
float: right;
margin: 0 auto;

}

.nav-bottom li{
	float: left;
	width: 250px;
}

.nav-bottom li a{
	color: #ff8000;
	size: 16px;
	text-decoration:none;

}

.nav-bottom li a:hover{
	color:#444444;
}
