html,
body,
header,
footer,
nav
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 header {
	display: block;
}

ul{
	list-style: none;
	
}
/* ------------------------------Header-----------------------------------------*/
header{
	
	background-color:#444444;
	padding-top: 8px;
	padding-bottom: 7px;
}


.container{
	width: 1170px;
	margin: 0 auto;
	
}

.logo{
	background-color:#ff8000;
	width: 140px;
	height: 35px;
	float: left;
}

.nav{
	float:left;
	margin-top:7.5px;
	margin-bottom: 7.5px;
	}


.nav li{
	float:left;
	line-height:20px;
	text-align:center;
	margin-right: 50px;

}

.clear{
	clear: both;
}

.nav a{
	font-size:18px;
	color: #aaaaaa;
	text-decoration: none;
}


/*----------------------Gallery------------------------------------------------------*/
.gallery{
	background-color: #71c4ea;
	height:485px;
}
/*-----------------------------How it works------------------------------------------*/
.content{
	width: 1170px;
	margin-top:64px;
	margin-left: auto;
	margin-right: auto;
}
.content h1{
	display:block;
	color: #444444;
	font-size: 36px;
	text-align: center;
	
}

.services{
	margin:65px auto 100px auto;
	float:right;

}

.circle{
	background-color: #efefef;
	height: 140px;
	width: 140px;
	border-radius:50%;
	
}

.services li{
	float: left;
	width: 270px;
	margin: 0 auto;
	text-align:center;
}

.services li p{
	margin-top:15px;
	display: inline-block;
	float: left;
	color: #888888;
	font-size: 18px;
	text-align:center;
	width:140px;
}
.services li p:hover{
	color: #444444;

	}


/* ----------------------Footer------------------------------------------------------*/
footer{
	background: #ececec;
	clear: both;
	padding-bottom: 15px;
	padding-top: 25px;
}
.nav-bottom{
	width: 400px;
	margin:0 auto;
	text-align: center;
}


.nav-bottom li{
	float:right;
	line-height:20px;
	margin-right:20px;

}



.nav-bottom a{
	font-size:16px;
	color: #ff8000;
	text-decoration: none;
}
.nav-bottom a:hover{
	color:#444444;
}