html, body, div, span,
h1, h2, h3, h4, h5, h6, p, 
a,img,ol, ul, li,footer, header,nav
{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
footer,header,menu,nav,section{
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;  
}

a,a:hover,a:focus{
	text-decoration: none;
}
/*--------Css begins---------------*/
body{
	font-family: 'Open Sans', sans-serif;
}
.spriteIcon{
	background: url(../images/sprite.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
	height: 25px;
	width: 25px;
}
.baseHeader{
	padding: 13px 0 14px 0;
	background: #3b3e46;
}
.baseHeader span{
	font-size: 13px;
	line-height: 25px;
	color: #fff;
}
.address{
	margin-right: 30px;
}
.mapIcon{
	background-position: -40px 2px; 
}
.phoneIcon{
	background-position: 2px 2px; 
}
.mainHeader{
	padding: 28px 0 26px 0;
	background: #fff;
}
.mainHeader{
	margin-bottom: 0;
}
.mainHeader li{
	margin-right: 33px;
}
.mainHeader li:last-child{
	margin: 0;
}
.navbar-default .navbar-nav>li>a, .mainHeader li a{
	font-size: 14px;
	font-weight: 700;
	line-height: 44px;
	color: #000;
	padding: 0;
}
.banner{
	background: url(../images/banner.jpg) no-repeat 50% 50%;
	background-size: cover;
	padding: 175px 0 230px 0;
}
.banner h1{
	font-size: 72px;
	line-height: 74px;
	color: #fff;
}
.nadine{
	font-weight: 700;
	color: #e63547;
}
.banner p{
	font-size: 26px;
	font-weight: 600;
	line-height: 42px;
	color: #fff;
	margin-top: 20px;
}
.banner a{
	display:inline-block;
	font-size: 14px;
	font-weight: 700;
	line-height: 64px;
	color: #fff;
	background: #e63547;
	padding: 0 78px;
	margin-top: 45px;
}
.features h1{
	font-size: 36px;
	line-height: 38px;
	color: #000;
}
.wrapper{
	width: 140px;
	margin: 35px auto 0;
}
.border{
	float: left;
	width: 62px;
	border-bottom: 3px solid #e63547;
	margin-top: 5px;
}
.circle{
	float: left;
	width: 14px;
	height: 14px;
	border: 2px solid #e63547;
	border-radius: 50%;
}
.features{
	padding: 113px 0;
}
.features ul{
	margin-top: 48px;
}
.features ul li{
	margin-bottom: 20px;
}
.features ul img{
	margin: 0 auto;
}
.features ul h3{
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	color: #000;
	margin-top: 50px;
}
.features ul p{
	font-size: 14px;
	line-height: 25px;
	color: #616161;
	margin-top: 25px;
}
.mission{
	background: url(../images/mission-banner.jpg) no-repeat 50% 50%;
	background-size: cover;
	padding: 155px 0 175px 0;
}
.mission h1{
	font-size: 36px;
	line-height: 38px;
	color: #fff;
	margin-bottom: 35px;
}
.mission p{
	font-size: 18px;
	line-height: 32px;
	color: #fff;
}
.clients{
	padding: 59px 0 78px;
}
.clients h1{
	font-size: 36px;
	line-height: 38px;
	color: #000;
}
.clients ul{
	margin-top: 60px;
}
.clients li{
	margin-bottom: 20px;
}
.clients img{
	margin: 0 auto;
}
.infoLinks{
	background: #2b2c31;
	padding: 56px 0 35px 0;
}
.heading{
	font-size: 14px;
	font-weight: 700;
	line-height: 48px;
	color: #fff;
	border-bottom: 2px solid #2f3035;
	margin-bottom: 30px;
}
.company li a{
	font-size: 14px;
	line-height: 35px;
	color: #fff;
}
.contactInfo li:first-child{
	margin-bottom: 30px;
}
.contactInfo li{
	font-size: 14px;
	line-height: 25px;
	color: #fff;
}
.contactInfo li span{
	font-weight: 700;
}
.contactInfo li a{
	color: #fff;
}
.contactInfo li a:hover{
	text-decoration: underline;
}
.awards li{
	margin-bottom: 40px;
}
.awards li img{
	margin: 0 auto;
}
footer{
	background: #26272b;
	padding: 36px 0 17px 0;
}
footer span{
	font-size: 14px;
	line-height: 35px;
	color: #64676c;
}