html, body, div, span,
h1, h2, h3, h4, h5, h6, p, 
a,img,ol, ul, li,footer, header,nav
{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
footer,header,menu,nav,a {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;  
}
a{
	text-decoration: none;
	
}

/*--------Css begins---------------*/

/*--------Header---------------*/
header{
	background-color: #fff;
	padding: 20px 0 15px;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.logo{
	display:block;
	float: left;
	padding:10px 10px 13px 10px; 
}

.logo img{
	display:block;
}

.signUp,.login{
	float: right;
	font-family: 'Open Sans' , sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	color: #222222;
	border: 1px solid #fff;
	padding: 10px 20px;
	margin-left: 5px; 
}

.login{
	margin:0;
}

.signUp:hover,.login:hover{
	color: #4caf50;
	border-color: #4caf50;

}

.nav{
	float: right;
	 
}

.nav li{
	float: left;
	/*margin-right:9px;*/
}


.nav li a{
	padding: 10px 19px 10px 10px;
	display: block;
	font-family: 'Open Sans' , sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 17px;
	color: #222222;

}

.nav a.farms{
	padding-right: 21px;
}

.nav li a:hover{
	color: #71be44;
}

.clear{
	clear: both;
}

/*--------Section One-------------*/

.sectionOne{
	background: #333 url(../images/bg-image.jpg) no-repeat 50% 50%;
	background-size: cover;
	text-align: center;
}

.content{
	padding:212px 0 93px 0;
}

.content h1{
	font-family: 'Open Sans' , sans-serif;
	font-size: 45px;
	font-weight: 400;
	line-height: 47px;
	color: #fff;
}

.content p{
	font-family: 'Open Sans' , sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
	color: #eeeeee;
	margin: 18px 0 0 0px;
}

.content a{
	display: inline-block;
	font-family: 'Open Sans' , sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	color: #fff;
	border-radius: 3px;
	padding: 15px 43px;
	background-color: #e74c3c;
	margin: 40px 0 0 0px;
}

/*--------Section Two-------------*/

.sectionTwo{
	background-color: #fff;
	text-align: center;
	padding: 68px 0 45px 0;
}

/*.wrapper{
	width: 566px;
	margin: 0 auto;
	/*border:1px solid #dddddd;
}*/
.search{
	outline: none;
	width: 566px;
	border:1px solid #dddddd;
	padding: 10px 13px;
	font-family: 'Open Sans' , sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
}
/*
.wrapper a{
	float: right;
	display: inline-block;
	margin: 15px 15px 0 0;
}*/

.submit{
	border:none;
	outline: none;
	background: #fff url(../images/search.png);
	margin-left:-40px;
	height: 20px;
	width: 20px;
	padding:0;
}

.or{
	margin-top:40px;
}

.border{
	display: inline-block;
	width:30px;
	border-bottom:1px solid #e7e7e7;
	vertical-align:middle;
}

.text{
	font-family: 'Open Sans' , sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	color: #aaaaaa;
	margin: 0 10px;
	vertical-align:middle;
}

.trendVeggies{
	margin-top: 45px;
	display: inline-block;

}
.trendVeggies h2{
	display: inline-block;
	font-family: 'Open Sans' , sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 32px;
	color: #222;
}

.trendVeggies ul{
	margin-top: 40px;
}
.trendVeggies ul li{
	float: left;
	margin-right: 60px; 
}
.trendVeggies ul li:nth-child(6){
	margin: 0px;
}

.trendVeggies ul li.clear{
	float: none;
	margin:0px;
}

.circle{
	display: table-cell;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	border: 1px solid #4caf50;
	vertical-align: middle;
}


.circle:hover{
	background-color: #4caf50;
}

.trendVeggies ul li span{
	margin-top: 10px;
	display: inline-block;
	font-family: 'Open Sans' , sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #000;
}
/*--------Section Three-------------*/

.sectionThree{
	background-color: #f8f8f8;
}

.tomatoes{
	padding:50px 0px;
	margin-left:62px; 
}

.tomatoes img{
	display: block;
	float: left;
	height: 220px;
	width: 220px;
	border-radius: 50%;
	margin: 0px 80px 0px 0px;
}

.itemInfo, .weeks, .easy{
	float: left;
}

.itemInfo h2{
	font-family: 'Open Sans' , sans-serif;
	font-size: 26px;
	font-weight: 300;
	line-height: 28px;
	color: #000;
	
}

.tomatoes .itemInfo h2{
margin-bottom: 23px;
}

.weeks{
	margin: 0 30px 0 0;
}

.easy{
	float: left;

}

.calendar{
	float: left;
	background-image: url(../images/calendar.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	margin-right:10px;
}

.easyIcon{
	float: left;
	background-image: url(../images/easy.png);
	background-repeat: no-repeat;
	height: 21px;
	width: 20px;
	margin-right:10px;
}

.weeks span, .easy span{
	font-family: 'Open Sans' , sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #222222;
}

.itemInfo p{
	margin-top: 23px;
	width: 590px;
	font-family: 'Open Sans' , sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #666666;
}

.itemInfo a{
	display: inline-block;
	margin-top: 12px;
	font-family: 'Open Sans' , sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 17px;
	color: #e74c3c;
	padding: 10px 20px;
	border: 1px solid #e74c3c;
	border-radius: 5px;
}
/*--------Section Four-------------*/

.sectionFour{
	background: #333 url(../images/bg-how.jpg) no-repeat 50% 50%;
	background-size: cover;
	text-align: center;
}

.howItWorks{
	padding: 55px 0 0 0;
}


.howItWorks h1{
	font-family: 'Open Sans' , sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 32px;
	color: #fff;
	margin: 0 0 42px 0;
}

.howItWorks ul{
	margin: 0 auto;
	width: 526px;
	text-align: left;
	list-style-image: url(../images/bullet.png);
	list-style-position:outside;
	
}

.howItWorks ul li{
	margin-bottom: 30px;
	
}

.howItWorks ul li:last-child{
	margin:0;
}



.howItWorks ul li p{
	padding-left: 10px;
	font-family: 'Open Sans' , sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: #fff;
}

.howItWorks img{
	display: inline-block;
	margin-top:24px; 
}

/*------------------Section Five-----------------*/

.sectionFive{
	padding:58px 0 40px 0;
}
.urbanFarmer{
text-align: center;
margin-bottom: 50px;
}

.urbanFarmer h1{
	font-family: 'Open Sans' , sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 32px;
	color: #000;
	
}

.userIcon{
	float: left;
	margin-right: 15px;
}
.userInfo{
	float: left;
	margin-top: 15px;
}

.userInfo h2{
	font-family: 'Open Sans' , sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	color: #444444;
}

.userInfo ul{
	margin-top: 5px;
}
.userInfo ul li{
	float: left;
	margin-right:5px; 
}
.userInfo li.clear{
	float: none;
	margin: 0;
}

.sectionFive .itemInfo{
	margin:0 0 0 97px; 

}


.sectionFive .itemInfo p, .sectionSix .itemInfo p{
	margin-top:14px; 
}

.itemInfo .heading{
	margin:19px 0 18px 0;

}

.bgImage{
	float: left;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	margin: 0 0px 0px 80px;
}
/*------------------Section Six-----------------*/

.sectionSix{
	background-color: #f8f8f8;
	padding: 60px 0 51px 0;
}
.sectionSix .bgImage{
	margin: 0px 80px 0 97px;
}

.loadStories{
	padding: 30px 0 23px 0;
	text-align: center;
	background-color: #fff;
}

.loadStories a{
	display: inline-block;
	font-family: 'Open Sans' , sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 20px;
	color: #e74c3c;
}

footer{
	border-top: 1px solid #eeeeee;
	padding: 17px 0 21px 0;
}

.navBottom li{
	float: left;
	margin-right: 20px;
}

.navBottom li:last-child{
	margin: 0;
}

.navBottom li.clear{
	float: none;
	margin:0;
}

.navBottom li a{
	font-family: 'Arial' , sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 12px;
	color: #888888;
}

.navBottom li a:hover{
	color: #4caf50;

}