html, body, div, span,
h1, h2, h3, h4, h5, h6, p, 
a,img,ol, ul, li,footer, header,nav
{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
footer,header,menu,nav {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;  
}
a{
	text-decoration: none;
	text-decoration-color: transparent;
}

/*--------Css begins---------------*/

/*--------Header---------------*/

.header{
	background-color: #fff;
	border-bottom: 1px solid #cccccc;
}

.container{
	width: 1170px;
	margin:0 auto;
}

.menu{
	display: block;
	float: left;
	border-left: 1px solid #cccccc;
	padding:20px;
}

.menu img,.logo img{
	display: block;
}

.logo{
	display: block;
	float: left;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	padding:9px 15px;
}

.mainCustomer{
	float: left;

}
.tag{
	float: left;
	background-color:#1166ee;
	color: #fff;
	border-radius:15px;
	padding:7px; 
	font-size: 12px;
	font-family: 'Arial';
	font-weight: 400;
	margin:13px 355px 0px 11px;
	text-decoration: none;
}

.dropDown{
	display: block;
	float: right;
	padding: 15px 20px 0px 0px;
}

.nav{
	float:left;
}

.nav li{
	cursor: pointer;
	float: left;
	border-left: 1px solid #cccccc;
}
.nav li a{
	padding: 10px 10px 16px 16px;
}
.nav li:first-child{
	padding:8px 8px 2px 2px;
}

.nav li:last-child{
	border-right: 1px solid #cccccc;
}


.nav li a,.nav li a img{
	display: block;
}
.user{
	float:left;
	cursor: pointer;
}

.logoProfile{
	float: left;
	background-image: url(../images/logo-profile.png);
	background-repeat: no-repeat;
	height: 21px;
	width: 21px;
	vertical-align: middle;
	margin: 15px 15px 0px 15px;
}

/*.user a{
	display: block;
	float: left;
	padding: 14px 15px 0px 13px;
}*/

a.cart{
	float: left;
	padding-top: 20px;
	padding-left: 7px;
}




.userName{
	float:left;
	padding:10px 5px 0px 0px;
}
.userName span{
	color: #222222;
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.userName p{
	font-family: 'Arial', sans-serif;
	color: #666666;
	font-size: 11px;
	line-height: 18px;
}

.clear{
	clear: both;
}

/*--------View---------------*/
.view{
	background: #fff;
	margin-top: 35px;
}

.allCustomers{
	float: left;
	margin-right: 30px;
	padding: 6px 0px;
}

.addAnother{
	float: left;
}
.addAnother button{
	background-color: #fff;
	border-color: #1166ee;
	color: #1166ee;
	padding: 5px 10px;

	cursor: pointer;
}
.addAnother button:hover{
	color: #1166ee;
}

.grid{
	float: right;
	margin-right:10px; 
}

.grid img{
	float: left;
	margin-right: 15px;
}

/*-------------Content--------------------*/
.content{
	margin-top:20px;
}

.services{
	float:left;
}

.services li{
	float: left;
	width: 370px;
	margin-right: 16px;
	margin-bottom: 16px;
	border:1px solid #cccccc;
}

.logo-box
{
	border-bottom: 1px solid #cccccc;
	height: 90px;
	display: table-cell;
	width: 370px;
	vertical-align: middle;;
	text-align: center;
}

/*.logo-box-flip img{
	margin: 18px 80px;
}

.logo-box-bms img{
	margin:20px 85px;
}

.logo-box-gal img{
	margin: 30px 165px;
}

.logo-box-hung img{
	margin: 25px 85px;
}

.logo-box-myn img{
	margin: 25px 85px;
}

.logo-box-rbl img{
	margin: 15px 85px;
}*/


.box-content{
	padding: 20px 15px;
}

.box-heading{
	float:left;
	margin-bottom: 10px;
}

.box-heading .title{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	/*line-height: 44px;*/
	color: #333333;
}
.box-heading span{
	display: block;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #b7b7b7;
}

.star{
	float:right;
	padding: 10px 0px;
}

.first-half{
	float:left;
}
.tickets{
	float: left;
	margin-right:60px;

}

.first-half .tick {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #4185f1;
}

.tickets span{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 48px;
	line-height: 50px;
	color: #4185f1;
}

.severity-1 {
	float:left;
	margin: -5px 35px 0px 0px;
}

.severity-1 .p{
	display: block;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #ff0000;
}

.severity-1 span{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 24px;
	line-height: 24px;
	color: #ff0000;
}
.severity-2 {
	float:left;
	margin-top: -5px;
}
.severity-2 .p2{
	display: block;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #4185f1;
}

.severity-2 span{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 24px;
	line-height: 24px;
	color: #4185f1;
}

.second-half{
	float: left;
	margin-top: 10px;
}
.assets{
	float: left;
	margin: 0px 75px 0px 0px;
}

.alerts{
	float: left;
	
}

.assets span,.alerts span{
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 30px;
	line-height: 32px;
	color: #1166ee;
}

.assets .p3,.alerts .p3{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: #333333;
}

.box-content a{
	display: inline-block;
	color:#1166ee;
	text-decoration:underline;
	padding-bottom:3px;
	margin-top:20px; 
}




.all-projects{
	float:left;
	margin-bottom: 20px;
	margin-top: 40px;
}
.all-projects span{
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #d6d6d6;
}

.services-list li{
	border-top:1px solid #dddddd;
	padding: 15px 0;
}

.services-list li:last-child{
	border-bottom:1px solid #dddddd;
}

.bms-numbering{
	float: left;
	margin-right: 145px;
}

.bms-numbering span{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #d6d6d6;
}
.numbering{
	float: left;
	margin-right: 183px;
}
.numbering span{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #d6d6d6;

}
.estar{
	float: left;
	margin-right: 19px;
	
}
.stuff{
	float: left;
}
.stuff span{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #333333;

}

/*-------------footer---------------------*/
.footer{
	background-color: #fff;
	border-top: 1px solid #eeeeee;
	padding: 15px 0px; 
}

.nav-bottom{
	width: 450px;
	margin:0 auto;
}

.nav-bottom li{
	margin-left: 15px;
	float:left;
	padding-left: 15px;
	border-left: 1px solid #666666;
}

.nav-bottom li a{
	font-family: 'Arial'
	font-size:12px;
	color: #acacac; 
	/*line-height:24px;*/
	text-decoration: none;
	
}
.nav-bottom li.clear{
	float: none;
}
.nav-bottom li a:hover{
	color: #ff8000;
}
.nav-bottom li:first-child
{
	border-left: none;
	padding: 0;
}
                    
.feedback{
	float: right;
	margin: 48px 0px 30px 0px;
}

.feedback a{
	display:block;
	border-radius: 22px;
	padding: 10px;
	background-color: #333333;
	color: #f1f1f1;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-decoration: none;
	box-shadow:0 10px 5px -2px #d3d3d3;

}
.cloud{
	background:transparent url(../images/icon-feedback.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	height: 23px;
	display: inline-block;
	width: 33px;
}
/*.feedback button{
	background:transparent url(../images/icon-feedback.png) no-repeat left;
    border:0;
	border-radius: 22px;
	padding: 14px;
	background-color: #333333;
	color: #f1f1f1;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	cursor: pointer;
	border: none;
}*/