html, body, div, span,
h1, h2, h3, h4, h5, h6, p, 
a,img,ol, ul, li,footer, header,nav
{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
footer,header,menu,nav,{
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;  
}
a{
	text-decoration: none;
	
}

/*--------Css begins---------------*/

/*--------Header---------------*/
@media screen and (max-width: 800px) {
	header,footer{
		position: fixed;
		width: 100%;
	}
	
}
header{
	background-color: #282828;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.logo, .logo img{
	display: block;
}

.logo{
	float: left;
	padding: 10px;
	margin-right: 240px;
}

.nav{
	float: left;
}

.nav li{
	float: left;
}

.nav li a{
	display: block;
	font-family: 'Quicksand' , sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	color: #fff;
	border-top: 4px solid #282828;
	padding: 24px 22px 26px 22px;
}


.nav li a:hover, .nav li a.active{
	border-top: 4px solid #b8272b;
	background-color: #1a1a1a;
}

.iconBell{
	float: left;
	margin-top: 17px;
	background: url(../images/sprite.png) no-repeat;
	background-position: 0px 0px;
	width: 33px;
	height: 28px;
}

.user{
	float: left;
	padding: 22px 10px 28px 10px;
	margin: 0 0 0 48px;
	border-top: 4px solid #282828;
}

.user:hover{
	border-top: 4px solid #b8272b;
	background-color: #1a1a1a; 
}

.user span{
	vertical-align: middle;
	font-family: 'Quicksand' , sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: #fff;
	margin-right:8px;
}

.profileIcon{
	vertical-align: middle;
	display: inline-block;
	background: url(../images/sprite.png) no-repeat;
	background-position: -68px -5px;
	width: 20px;
	height: 17px;	
}

.clear{
	clear: both;
}

/*--------Section One---------------*/
.sectionOne{
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

.back{
	padding:22px 0;
	float: left;
	font-family: 'Quicksand' , sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	color: #5e5e5a;

}

.back:hover{
	color: #c1272d;
}

.backBtn{
	vertical-align: middle;
	display: inline-block;
	background: url(../images/sprite.png) no-repeat;
	background-position: -100px -4px;
	width: 21px;
	height: 21px;
	margin-right: 5px;	
}

.survey{
	float: right;
	font-family: 'Quicksand' , sans-serif;
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
	color: #fff;
	background-color: #c1272d;
	border:1px solid #c1272d;
	border-radius:3px;
	padding: 5px 18px 5px 12px;
	margin-top: 15px;
}

.survey:hover{
	background-color: #c7070f;
}

.upload{
	vertical-align: middle;
	display: inline-block;
	background: url(../images/sprite.png) no-repeat;
	background-position: -1px -36px;
	width: 21px;
	height: 14px;
	margin-right: 8px;	
}

/*--------Section Two---------------*/
.sectionTwo{
	background-color: #f1f1f1;
	padding-top: 11px;
}

.leftWrapper{
	float: left;
	width: 559px;
	margin-right: 15px;
}

.rightWrapper{
	float: left;
	margin-top: 1px;
	margin-bottom: 37px;
}
/*------------Site-------------*/
.boxWrapper{
	border:1px solid #d4d4d4;
	box-shadow: 0 3px 3px -2px rgba(187,187,187,0.75);
	margin-bottom:14px;
}

.heading{
	border-bottom: 1px solid #d4d4d4;
	padding: 11px 9px 11px 17px;
	background:linear-gradient(#fff,#f6f6f6);
}

.heading h2{
	float: left;
	font-family: 'Quicksand' , sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	color: #000;
	margin-top: 5px;
}

.heading a{
	float: right;
	padding: 5px 7px 5px 9px;
}

.heading a:hover{
	background:linear-gradient(#e9e9e9,#fbfbfb);
}

.btnContent{
	font-family: 'Quicksand' , sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: #202020;
	background:linear-gradient(#fbfbfb,#e9e9e9);
	box-shadow: inset 1px 1px 2px #fff;
	border:1px solid #d4d4d4;
	border-radius:3px;
}

.heading a span{
	vertical-align: middle;
	
}

.editBtn{
	vertical-align: middle;
	display: inline-block;
	background: url(../images/sprite.png) no-repeat;
	background-position: -41px -7px;
	width: 15px;
	height: 15px;
	margin-right: 5px;	
}

.siteContent{
	padding: 18px 65px 23px 33px;
	background-color: #fff;
}

.siteName{
	float: left;
	max-width: 164px;
}

.createdOn{
	float: left;
	max-width: 113px;
}

.siteLoc{
	float: right;
	max-width: 130px;
}

.siteSize{
	float: left;
	margin-left: 85px;
	max-width: 82px;
}

.siteGroup{
	float: left;
	margin-left: 50px;
	max-width: 101px;
}

.siteName label, .siteLoc label, .siteSize label, .siteGroup label{
	display: block;
	font-family: 'Quicksand' , sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	color: #818181;
}

.siteName span, .siteLoc span, .siteSize span, .siteGroup span{
	font-family: 'Quicksand' , sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
	color: #000;
}

.iconLoc{
	display: inline-block;
	background: url(../images/sprite.png) no-repeat;
	background-position: -52px -34px;
	width: 9px;
	height: 14px;
	margin-right: 5px;	
}

.wrapper{
	margin-top: 28px;
}

.createdOn label{
	display: block;
	font-family: 'Quicksand' , sans-serif;
	font-size: 15px;
	font-weight: 700;
	line-height: 17px;
	color: #222;
}

.createdOn span{
	font-family: 'Quicksand' , sans-serif;
	font-size: 15px;
	font-weight: 700;
	line-height: 17px;
	color: #222;	
}
/*------------Survey-------------*/
.heading .sort{
	padding: 7px 10px 7px 16px;
}

.heading .number{
	float: left;
	margin: 3px 0 0 10px;
	padding: 4px 10px;
	font-family: 'Quicksand' , sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: #5c5c5c;
	border:1px solid #dedede;
	border-radius: 10px;
}

.sortBtn{
	vertical-align: middle;
	display: inline-block;
	background: url(../images/sprite.png) no-repeat;
	background-position:  -76px -43px;
	width: 10px;
	height: 5px;
	margin-left: 10px;	
}

.listWrapper{
	border-bottom: 1px solid #d4d4d4;
	padding: 9px 15px;
	background-color: #fff;
}

.bgColor{
	background-color: #f8f8f8;
}

.listWrapper .bulletIcon{
	float: left;
	background: url(../images/sprite.png) no-repeat;
	background-position: -35px -38px;
	width: 5px;
	height: 10px;
	margin: 10px 0 0 0;
}

.listWrapper:hover{
	background-color: #f8f8f8;
}

.listWrapper:hover .colorVal{
	display: none;
}

.listWrapper:hover .iconList{
	display: none;
}

.hoverMe{
	display: none;
}

.listWrapper:hover .hoverMe{
	display: block;
}


.box{
	float: left;
	margin: 6px 0 0 15px;
}

.box label{
	display: block;
	font-family: 'Quicksand' , sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: #000;
}

.box span{
	font-family: 'Quicksand' , sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #a4a4a4;
}

span.colorVal{
	float: left;
	margin: 12px 0 0 82px;
	font-family: 'Quicksand' , sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: #000;
}
span.colorRgb{
	padding-right: 15px;
}
span.colorLidar{
	padding-right: 3px;
}

.iconList{
	float:left;
	margin-left: 90px;
	
}

.iconList li {
	float: left;
	margin-right: 9px;
}

.iconList li:last-child{
	margin: 0;
}

.iconList li a, .iconList li a img{
	display: block;
}

.likeBtn{
	padding: 10px 9px;
	font-family: 'Quicksand' , sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: #c1272d;
	border:1px solid #c9c9c9;
	border-radius: 3px;
}

.moreDetails{
	float: right;
	padding: 10px 0px 10px 5px;
	font-family: 'Quicksand' , sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: #c1272d;
}
.moreDetails:hover{
	color: #c7070f;
}

.detailIcon{
	vertical-align: middle;
	display: inline-block;
	background: url(../images/more-details.png) no-repeat;
	width: 5px;
	height: 9px;
	margin-left: 5px;
}

/*---------Apply Algo-----------------*/

.algoHeading{
	background:linear-gradient(#fff,#f6f6f6);
	
}

.algoHeading ul{
	float: left;
}

.algoHeading ul li{
	float: left;
	border-right: 1px solid #d4d4d4;

}

.algoHeading ul li a{
	display: block;
	font-family: 'Quicksand' , sans-serif;
	font-size: 15px;
	font-weight: 700;
	line-height: 17px;
	color: #505050;
	padding: 17px 20px;
	border-bottom: 1px solid #d4d4d4;
}

.algoHeading ul li a:hover, .algoHeading .active{
	background-color: #fff;
	border-bottom: 1px solid #fff;
}



.borderWrap{
	float: right;
	width: 304px;
	border-bottom: 1px solid #d4d4d4;
}

.borderWrap a{
	display: block;
	float: right;
	padding: 17px 15px 18px 5px;
	font-family: 'Quicksand' , sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: #c1272d;
}

.borderWrap a:hover{
	color:#c7070f;
}


.applyList{
	padding: 10px 19px 10px 9px;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}


.applyList img{
	display: block;
	float: left;
}

.applyList span{
	float: left;
	font-family: 'Quicksand' , sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #000;
	margin: 15px 0 0 15px;
}

.applyList a{
	float:right;
	font-family: 'Quicksand' , sans-serif;
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
	color: #fff;
	border: 1px solid #c1272d;
	border-radius: 3px;
	padding: 3px 23px;
	background-color: #c1272d;
	margin-top: 14px;
}

.applyList a:hover{
	background-color: #c7070f;
}

.boxWrap{
	margin-bottom: 12px;
}

.recentHeading h2{
	color: #505050;
}

.comments{
	padding: 19px 18px 16px 29px;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

.comments .cloud{
	float: left;
	background: url(../images/sprite.png) no-repeat;
	background-position: -127px -9px;
	width: 16px;
	height: 13px;
	margin: 3px 10px 0 0;
}

.paraBox{
	float: left;
	max-width: 435px;
}

.paraBox p{
	margin-bottom: 15px;
	font-family: 'Quicksand' , sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 17px;
	color: #222;
}

.paraBox .name{
	font-family: 'Quicksand' , sans-serif;
	font-size: 15px;
	font-weight: 700;
	line-height: 17px;
	color: #000;
}

.paraBox p span{
	font-family: 'Quicksand' , sans-serif;
	font-size: 15px;
	font-weight: 700;
	line-height: 17px;
	color: #c1272d;
}

.dateBox{
	text-align: right;
	float:right;
}

.dateBox label{
	display: block;
	font-family: 'Quicksand' , sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #676767;
}

.dateBox span{
	font-family: 'Quicksand' , sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #676767;
}

.paraWrap{
	max-width: 515px;
	margin: 15px 0 0 25px;
}

.paraWrap p{
	font-family: 'Quicksand' , sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	color: #3e3e3e;
}

.comments .tick{
	float: left;
	background: url(../images/sprite.png) no-repeat;
	background-position: -99px -35px;
	width: 14px;
	height: 13px;
	margin: 3px 10px 0 0;
}


.loadMore{
	border-top: 1px solid #d4d4d4;
	text-align: center;
	background: linear-gradient(#fff,#f6f6f6);

}
.loadMore a{
	display: inline-block;
	font-family: 'Quicksand' , sans-serif;
	font-size: 15px;
	font-weight: 700;
	line-height: 17px;
	color: #000;
	padding: 15px;
}
.loadMore a:hover{
	color: #c7070f;;
}

/*---------Footer-----------------*/
footer{
	text-align: center;
	background-color: #282828;
	padding: 15px 0 10px 0;
}

footer span{
	font-family: 'Quicksand' , sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	color: #fff;
	
}

footer a{
	font-family: 'Quicksand' , sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	color: #c1272d;
}

footer a:hover{
	text-decoration: underline;
}